body {
    font-family: arial;
}

input {
    font-size: 20pt;
    border: none;
}
#content {
    width: 15%;
    float: left;
    padding-left: 20px;
}

#title {
    font-size: 24pt;
}

video {
    width: 80%;
    float: left;
}

.request {
    color: white;
    background-color: #0E51A7;
    padding: 10px;
    margin: 5px;
}

.request > .value {

}

.request > .count {
    margin-top: -2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #4281D3;
    float: right;
}
